{% extends "base.html" %}
{% load static %}
{% block content %}
  <script type="text/javascript" src="{% static 'navigationManager.js' %}"> </script>
  <script type="text/javascript">
      window.__DJANGO_STATE__ = {
          tracker_id: "{{tracker_id}}",
          tracker_name: "{{tracker_name}}",
          tracker_symbol_count: {{tracker_symbol_count}}
      }
  </script>
  <script type="text/babel" src="{% static 'dashboard.jsx' %}"> </script>
  <div id="react-root"></div>
    <form
        id="default-logout-form"
        method="post"
        action="/logout"
        class="displayNone"
    >
        {% csrf_token %}
    </form>
{% endblock %}

